
*{

    margin: 0;
    text-decoration: 0;
}




body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}



body{
    font-family: 'Montserrat';
    
   
    
   
}


header{
    background-color: #E2F9A1;
    width: 100%;
    display: flex;
    align-items: center;
}


.MainMenu{
    
    width: 1250px;
    margin: auto;
    display: flex;
}


.MenuList{
   
    margin-top:40px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    list-style-type: none;

}

.MenuCell{
    color: black;
    min-width: 185px;
    margin-right: 84px;
}

.LongItemMenu{
    min-width: 261px;
}







.main_page{
    
    width: 960px;
    height: 2000px;
    background-color: #FFFF;
    margin: auto;
}






.CategoryProduct{
    width: 100px;
    display: flex;
}

.CategoryProductList{
    margin-right: 10px;
    margin-top: 5px;
    height: 42px;
    border:none;
    font-size: 18px;
    margin-left:10px;
}

.LineSearch{
    height: 59px;
    width: 2px;
    background-color: #069113;
    margin-bottom: 10px;
}



.Catalog{
   display: flex;
   justify-content: center; 
}

.CardGrid{
    
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
}

.card{

    background: #FFFF;
    border-radius: 5px;
    
    margin-right: 74px;
    margin-top: 58px;
    width: 236px;
    height: 369px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 4px 8px 6px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 1px 4px 8px 6px rgba(34, 60, 80, 0.2);
box-shadow: 1px 4px 8px 6px rgba(34, 60, 80, 0.2);
}


.CardImg{
    border-radius: 5px;
    width:236px ;
}

.ProfileBlock{

   
    height: 100px;
   
}


.Profile{
    margin-left: auto;
    margin-right:25px;
}

.Rating{
    
    margin-right: 31px
    
}


.ProfileBlock{
    display: flex;
   
}


.ProfileBlock{

    
}


.UserImg{

}


.Rewiev{
    margin-top: 10px;
    margin-left: 26px;
    color:#187800;
}

.Menu a {
    color: black;
}


.MenuProfileImg{


    margin-top: 16px;
    height: 20px;
    width: 20px;
}

.Menu{
    width: 960px;
    margin: auto;
    display: flex;
}

.MenuCellFirst{
    min-width: 100px;
}

.logo{
    margin-right: -37px;
    
}


.BanerImg{
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 15px;
    height: 135px;
    width: 168px;
}

.banner{
    margin-top: -396px;
    height: 318px;
    font-size: 14px;
    margin-left: -280px;
    width: 196px;
    background-color: azure
}

.banner h2{
    margin-bottom: 5px;
    font-size: 16px;
    margin-left: 10px;
}



.BannerText{
    margin-left: 12px;
}

.BannerSell{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 41px;
    width: 100px;
    text-align: center;
    background-color:#FFF855 ;
}

.BannerCity{
    margin-left: 28px;
    font-size: 12px;
    width: 130px;
    text-align: center;
    background-color:#F1EECE;

}

.LinkBanner{
    height: 30px;
    margin-top: 10px;
    text-align: center;
    margin-left: 41px;
    width: 101px;
    background-color: aqua;
}
.linkBanner a{
    margin-left: 10px;
}


.WhySellH2{
    font-size: 30px;
    margin-left: 52px;
}

.WhySellText{
    margin-left: 52px;
    font-size: 25px;
}

.SearchMain{
       
        margin-top: 50px;
        width:862px; 
        display: flex;
        justify-content: center;
        
    

}

.Search{
    text-align: center;
    font-size: 22px;
    border-radius: 70px;
    height: 51px;
    margin: auto;
    width: 871px;
}

.hide{
    display: none;
}