{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/index/index.css' %} " rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
    <!-- стили -->
    <title>FreshRefresh</title>
</head>
<body>

<!-- структура сайта -->



<header>


  

    <section class="Menu">
            
        
        <img class="logo" src="{% static 'img/logo.png'%}" alt="">
        <ul class="MenuList">
            <li class="MenuCellFirst"><a href="#">О нас</a></li>
            <li class="MenuCell"><a href="#">Правила продажи</a></li>
            <li class="MenuCell"><a href="#">Каталог продуктов</a></li>
            <li class="MenuCellLast"><a href="#">Контакты</a></li>
            
            
        </ul>


    </section>

    <div class="Profile">
        <div class="ProfileBlock">



           


          

        </div>
    </div>

  

</header>








<section class="main_page">

    

        

    <section class="Catalog">

        <div class="CardGrid">
            {% for product in products %}
            <div class="card">
            
                <img class="CardImg" src="{{ product.photo.url }}" alt="">
                <p> {{ product.name }} </p>
                <p>{{ product.user.first_name }}</p>
                <p>Категория: {{ product.category }}</p>
                <p>Описание :{{ product.description }}</p>
                <p>Цена: {{ product.price }}</p>
                <button>Подробнее</button>

            </div> 
            {% endfor %}
            
    
        </div>

    </section>

</section>




</section>    


        

    
    





   
<div class="banner">

    <h2>Продай свой урожай</h2>
    <div class="BannerText">
        Первая площадка по продаже сельхозтовара!
    </div>
    <img class="BanerImg" src="{% static 'img/potato.jpg' %}" alt="">
    <p class="BannerSell">80рублей/кг</p>
    <p class="BannerCity">Город:Екатеринбург</p>
    <div class="LinkBanner"><a href="">Продать!</a> </div>
    
    
    
    </div>

    <!-- скрипт -->
    <!-- <script src ="{% static 'scripts/index/script.js' %} " type="text/javascript"> </script> -->
    
</body>
</html>